# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store

# Spark temp + output files
*.crc
*.snappy.parquet
*.log

# HDFS-related cached dirs
projects/


# Streamlit cache
.streamlit/

# Raw input data 

